__pycache__/
*.pyc
.venv/
venv/

notebooks/
runs/
scripts/

data/roboflow/*
!data/roboflow/.gitkeep
data/input/*
data/output/*
!data/input/.gitkeep
!data/output/.gitkeep
models/*
!models/.gitkeep


# YOLO pretrained weights
yolov8*.pt
yolo11*.pt
yolo26*.pt

.ipynb_checkpoints/
.DS_Store
