__pycache__/
*.pyc
.venv/
venv/

notebooks/
runs/
scripts/

data/roboflow/*
!data/roboflow/.gitkeep
data/input/*
data/output/*
!data/input/.gitkeep
!data/output/.gitkeep

# Ignore everything in models
models/*

# Keep in_use folder
!models/in_use/
!models/in_use/**

# Keep gitkeep files
!models/.gitkeep
!models/in_use/.gitkeep


# YOLO pretrained weights
yolov8*.pt
yolo11*.pt
yolo26*.pt

tune-yolo26n-objv1-coco 

.ipynb_checkpoints/
.DS_Store
